/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Navbar Styles */
.navbar {
  width: 100%;
  background-color: #003366;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand img {
  height: 60px;
  display: block;
  margin: 0;
}

.navbar .container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
}

.navbar-menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  color: #ffcc00;
}

.navbar-login {
  margin-left: auto;
}

.navbar-login a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-login a:hover {
  color: #ffcc00;
}

/* Hero Section */
.hero-section {
  position: relative;
  background: url("/images/hero1.jpeg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  margin-top: 60px;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.hero-content p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}

.hero-content .btn-primary {
  background-color: #0061a8;
  border: 1px solid #004a9f;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
}

.hero-content .btn-primary:hover {
  background-color: #004a9f;
  border-color: #003c71;
}

/* About Us Section */
.about-us {
  background: url("/images/background1.jpeg") no-repeat center;
  background-size: cover;
  background-position: center 20%; /* Move the image up 20% from the bottom */
  padding: 60px 20px 100px;
  color: #fff;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: "Lato", sans-serif; /* Use a more readable font */
}

.about-us h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.about-us p {
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

/* Services Section */
.services {
  padding: 10px 20px;
  background: url("/images/machine.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.services h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  max-width: 250px;
  height: 300px;
  margin: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-card .service-title {
  display: block;
  font-size: 1.75rem;
  font-weight: bold;
}

.service-card p {
  font-size: 0.9rem;
  margin-bottom: 5px;
  flex-grow: 1;
}

.service-card .btn-secondary {
  background-color: #0061a8;
  border-color: #004a9f;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 0;
  align-self: center;
  font-weight: bold;
}

.service-card .btn-secondary:hover {
  background-color: #004a9f;
  border-color: #003c71;
}

/* Footer */
footer {
  background-color: #003c71;
  color: #fff;
  text-align: center;
  padding: 10px 40px;
  position: relative;
  width: 100%;
  margin-top: 0;
}

footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

footer .footer-content p {
  font-size: 1rem;
}

footer .footer-content .social-links {
  margin-top: 20px;
}

footer .footer-content .social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .navbar .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-menu li {
    margin: 10px 0;
  }
}
