/* Index Page Styles */
.hero-section {
  background: url("/images/hero1.jpeg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.hero-content .btn-primary {
  background-color: #0071c1;
  border-color: #005a9e;
  padding: 15px 30px;
  font-size: 1rem;
  text-decoration: none;
}

.hero-content .btn-primary:hover {
  background-color: #005a9e;
  border-color: #004a9f;
}

.services {
  padding: 60px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.service-card .btn-secondary {
  background-color: #0061a8;
  border-color: #004a9f;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.service-card .btn-secondary:hover {
  background-color: #004a9f;
  border-color: #003c71;
}

footer {
  background-color: #003c71;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Backgrounds for Additional Sections */
.background-section {
  background: url("/images/background1.jpeg") no-repeat center center;
  background-size: cover;
}

.background-section-alt {
  background: url("/images/background2.jpeg") no-repeat center center;
  background-size: cover;
}

.service-icon {
  background: url("/images/serviceIcon.jpeg") no-repeat center center;
  background-size: cover;
}

.service-icon-alt {
  background: url("/images/serviceIcon2.jpeg") no-repeat center center;
  background-size: cover;
}
