@page "/Education"
@using Radzen
@using Radzen.Blazor

<h1>Training Education </h1>
<RadzenCard>
    <CardHeader>
        <h2>Education</h2>
    </CardHeader>
    <CardBody>
        <p>Details about the EDUCATION program...</p>
    </CardBody>
</RadzenCard>
