@page "/home"
@using Radzen
@using Radzen.Blazor

<h1>Welcome to My Awesome Website!</h1>
<RadzenButton Text="Click Me" Click="OnClick" />

@code {
    private void OnClick()
    {
        // Handle button click
    }
}
