@page "/Management"
@using Radzen
@using Radzen.Blazor

<h1>Mana</h1>
<RadzenCard>
    <CardHeader>
        <h2>Mangement</h2>
    </CardHeader>
    <CardBody>
        <p>Details about the Management program...</p>
    </CardBody>
</RadzenCard>