@page "/outreach"

<h1>Outreach</h1>
<RadzenCard>
    <RadzenCardHeader>
        <h2>Our Outreach Program</h2>
    </RadzenCardHeader>
    <RadzenCardBody >
        <p>Details about the Outreach program...</p>
    </RadzenCardBody >
</RadzenCard>