@page "/outreach"

<h1>Outreach</h1>
<RadzenCard>
    <CardHeader>
        <h2>Outreach</h2>
    </CardHeader>
    <CardBody>
        <p>Program development, training, inspections, and reporting, all at a low monthly cost.</p>
    </CardBody>
</RadzenCard>