@page "/Training"
@using Radzen
@using Radzen.Blazor

<h1>Online Training</h1>
<RadzenCard>
    <CardHeader>
        <h2>TRAINING</h2>
    </CardHeader>
    <CardBody>
        <p>Details about the training program...</p>
    </CardBody>
</RadzenCard>