@inherits LayoutComponentBase

<div class="navbar">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/images/logo.png" alt="Company Logo">
        </a>
        <nav class="navbar-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="main-content">
    @Body
</div>

<footer>
    <div class="footer-content">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
        <div class="social-links">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
        </div>
    </div>
</footer>
